body{

	background-color:#fdeae9;

}


@font-face {
	font-family: fugue;
	src: url(font/fugue_regular.otf);
}


h1{

	color: black;
	font-weight:normal;
	font-family:fugue; sans-serif;
	font-size:45px;
	text-align: right;
}


h2 {

	color: black;
	text-align:center;
	font-weight:normal;
	font-family:fugue; sans-serif;
	font-size:50px;
	font-variant: small-caps;
	line-height: 340%;
}

h3 {

	color: black;
	text-align:center;
	font-weight:normal;
	font-family:fugue; sans-serif;
	font-size:30px;
	font-variant: small-caps;
	line-height: 340%;
}

h4{
	color: black;
	text-align:center;
	font-size:45px;
	font-family:fugue; sans-serif;
	font-weight: normal;
	font-variant: small-caps;


}
ul {
	list-style-type: none;
}


a {
	text-decoration:none;
	color: black;
}

a:hover { /* Quand on survol */
color: black;
font-weight:bold;
}


p:active /* Quand on dessus */
{
color:black;
font-weight: bold;
text-decoration: underline;
}


.nav{
	text-align:left;
	font-weight:normal;
	font-family:fugue; sans-serif;
	font-size:45px;
	transform: rotate(90deg);
	text-orientation: vertical;
	position: absolute;
	top:50%;
	right:0px;
	position: fixed;
	ul,li
  margin: 0
  list-style: none
  padding: -40px
  display:inline-block;
  font-variant: small-caps;
  white-space: nowrap;
  text-align: center;
  font-size: 40px;
	word-spacing: 20px;
}



.name{
	position: absolute;
	position: fixed;
	top: 50%;
	left: 2px;
	transform: translate(-50%);
	transform: rotate(-90deg);
	font-variant: small-caps;
	font-size:45px;
}


.naturemorte{

background-size: cover;
width: 408px;
height: 587px;
position: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 130px;


}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
	position: center;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
	position: center;
	top:0; right:0;

}

p{

	width: 20%;
	position: absolute;
	left: 1050px;
	top: 640px;
	color: black;
	opacity: 50%;
}

.photo-container {
	display: flex;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.photo-container .round {
	font-size: 4em;
	text-decoration: none !important;
}

.photo-container p {
/*	position: absolute;
	bottom: 0;
	right: 0;*/
}